/* Rectangle 4 */
.headerbar{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100vw;
    height: 4vh;
    top: 0;
    background: #ffffff;
    
}

.logout{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5vw;
    height: 2.5vh;
    left: 90vw;
    top: 0.5vh;
    background: #ffffff;
    border: none;
    cursor: pointer;
    color: #0000007c;
    font-size: 15px;
    font-weight: 600;
}
.logout:hover{
    color: #000000;
}
.mypage{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5vw;
    height: 2.5vh;
    left: 85vw;
    top: 0.5vh;
    background: #ffffff;
    color: #0000007c;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
.mypage:hover{
    color: #000000;
}
