.bg{
    /* Desktop - 1 */
    display: flex;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    background: #ECF2F4

}
/* 전체 현장 관리 */
.text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 110px;
    height: 30px;
    left: 290px;
    top: 45px;
    
    font-family: 'Jura';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    color: #000000;

}



