/* SideBarForm.module.css */

.sidebar {
  position: fixed;
  width: 220px;
  height: 1024px;
  left: 0px;
  top: 0px;
  z-index: 900;
  background: #143A52;
}

.formGroup {
  margin-bottom: 15px;
}


.keepme {
/* Keep me */
position: fixed;
width: 146px;
height: 43px;
left: 35px;
top: 5px;
margin-top: 2px;
font-family: 'Jura', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 36px;
line-height: 43px;
/* identical to box height */

color: #ffffffd0;
}
.keepme:hover{
  color: white;
}

.button1 {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 400px;
  
  padding-left: 6px;
  background: #143A52;
  border-radius: 50px;
  border : none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  
  color: rgba(255, 255, 255, 0.6);
  /* identical to box height */
}

.button1:hover {
  color: white;
}

.button2 {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 450px;
  
  padding-left: 23px;
  background: #143A52;
  border-radius: 50px;
  border : none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  
  color: rgba(255, 255, 255, 0.6);
  /* identical to box height */
}

.button2:hover {
  color: white;
}










