.bg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 26vw;
    height: 25vh;
    left: 15vw;
    top: 41vw;
    z-index: 600;
    background: #ffffff;
    border-radius: 5px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    color: rgba(0, 0, 0, 0.7);
}

.bg:hover{
    color: rgb(0, 0, 0);
}

