.bg{
    /* Desktop - 1 */
   
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    background: #ECF2F4

}

/* BoardDetail */

position: relative;
width: 1440px;
height: 1024px;

background: #ECF2F4;
