

/* Rectangle 10 */
.boardContainer {
    position: absolute;
    width: 1550px;
    height: 900px;
    left: 288px;
    top: 100px;

    background: #FFFFFF;
    border-radius: 5px;

}

.text {
    position: absolute;
    width: 120px;
    height: 19px;
    left: 290px;
    top: 47px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    color: #000000;
    
}
.boardTable {
    width: 100%;
    justify-content: space-between; /* 항목 간격 일정하게 */
    border-collapse: collapse;
    border-radius: 5px;
}

.boardTable th {
    background-color: #CDE3EB;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    height: 65px;
    border-right: 1px solid #0a040413;

}
.boardTable th:last-child {
    border-right: none;
}
.boardTable :nth-child(1){
    border-top-left-radius: 5px;
}
.boardTable :nth-child(5){
    border-top-right-radius: 5px;
}


.boardTable td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 70px;
}

.boardTable th:nth-child(1),
.boardTable td:nth-child(1) {
    width: 150px;
    /* 번호 열 */
    text-align: center;
}

.boardTable th:nth-child(2), 
.boardTable td:nth-child(2) {
    width: 660px;
    /* 제목 열 */
    padding-left: 20px;  
    text-align: center left;

}

.boardTable th:nth-child(3),
.boardTable td:nth-child(3) {
    width: 200px;
    /* 부서 열 */
    text-align: center;
}

.boardTable th:nth-child(4),
.boardTable td:nth-child(4) {
    width: 200px;
    /* 작성자 열 */
    text-align: center;
    
}
.boardTable th:nth-child(5) 
.boardTable td:nth-child(5) {
    width: 100px;
    /* 작성일 열 */
    text-align: center;
    padding-left: 20px;
    
}
.boardTable td:last-child {
    border-right: none;
}

.boardTable tr:hover {
    background-color: #f5f5f5;
}
.createDate{
    width: 200px;
    /* 작성일 열 */
    text-align: center;
    }
.pagination {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.writeButton {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 1409px;
    top: 840px;
    
    background: #143A52;
    border-radius: 5px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    
    color: rgba(255, 255, 255, 0.6);
}
.writeButton:hover{
    color: white;
}
.homeButton{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 1300px;
    top: 840px;
    background: #143A52;
    border-radius: 5px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    
    color: rgba(255, 255, 255, 0.6);
}
.homeButton:hover{
    color: white;
}
  /* 페이지네이션 스타일 */
.paginationContainer {
    position: absolute;
    width: 400px;
    height: 100px;
    top: 830px;
    left: 500px;
}
