.bg {
    display: block;
    
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 26vw;
    height: 25vh;
    left: 69vw;
    top: 41vw;
    
    background: #ffffff;
    border-radius: 5px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    
    /* identical to box height */

    color: rgba(0, 0, 0, 0.7);
}
.bg:hover{
    color: rgb(0, 0, 0);
}
.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 150px; /* 스크롤바가 생길 수 있도록 최대 높이 설정 */
  overflow-y: scroll; /* 세로 스크롤바 추가 */
  border: none;
  
  margin-right: 20px;
}
.boardTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    width: 100%;
    table-layout: fixed;
   
  }
  .boardTable tr:hover {
    background-color: #f5f5f5;
}

  .boardTable td {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    
  }  
  .boardTable td:nth-child(1) {
    /* 번호 열 */
    width: 30px;
    text-align: center;
    border-right: 1px solid #ddd;
  }
  .boardTable td:nth-child(2) {
    /* 제목 열 */
    width: 300px;
    padding-left: 15px;
    border-right: 1px solid #ddd;
    text-align: left;
    
  }
 
.boardTable td:nth-child(3) {
 
  text-align: center;
  border-right: 1px solid #ddd;
}
.boardTable td:last-child {
    border-right: none;
  }
@media (max-width: 1100px) {
  .bg{
    display: none;
  }
}
 