.all{
    position: absolute;
    width: 350px;
    height: 80px;
    left: 270px;
    top: 80px;
    margin-left: 40px;
    margin: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    color: rgba(0, 0, 0, 0.7);
}
.all:hover{
    
    color: rgb(0, 0, 0);
}
.Allbg{
    position: relative;
    left: 50px;
    top: 80px;
    color: black;
}

.today{
    position: absolute;
    width: 350px;
    height: 80px;
    left: 663px;
    top: 80px;
    margin: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    color: rgba(0, 0, 0, 0.7);
}
.today:hover{
    color: rgb(0, 0, 0);
}
.good{
    position: absolute;
    width: 350px;
    height: 80px;
    left: 1056px;
    top: 80px;
    margin: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    color: rgba(0, 0, 0, 0.7);
}
.good:hover{
    color: rgb(0, 0, 0);
}
.bad{
    position: absolute;
    width: 350px;
    height: 80px;
    left: 1449px;
    top: 80px;
    margin: 20px;
    background: rgba(247, 0, 0, 0.75);
    border-radius: 5px;
    padding-left: 20px;
   
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    color: rgba(255, 255, 255, 0.9);
}
.bad:hover{
    color: rgb(187, 255, 0);
}








